.container {
    width: 100%;
    height: 50vh;
    background-color: #f194a2;
    text-align: center;
    border-radius: 10px;
    margin-top: 5%;
}

.formularioTitulo {
    padding: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

.formdescricao {
    font-size: 1.1rem;
    font-weight: 100;
}

.formularioInput input {
    background-color: #f0f0f0;
    width: 18rem;
    height: 1.7rem;
}

.input {
    padding: 10px;
    border: none;
    margin-top: 2%;
    border-radius: 5px 0 0 5px;
}

.Button {
    background-color: #f4c9d0;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 0 5px 5px 0;
}
.Button {
    width: 6rem;
    height: 3rem;
    font-weight: bold;
    font-size: 15px;
    color: #ef7c8e;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 0 5px 5px 0;
}